<h2>Sign Up</h2>

{{!-- <form action="/signup" method="post">
<label for="username">
    username
    <input type="text" name="username">
</label>

<label for="password">
    password
    <input type="text" name="password">
</label>

<button>Save</button>
</form> --}}

<form action="/signup" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Create Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Create Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter password">
  </div>
  <button class="btn btn-primary">Save</button>
</form>